version: '3.8'

services:
  app:
    build: .
    container_name: timerbook_app
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html
    env_file:
      - .env
    restart: unless-stopped
    depends_on:
      - db

  db:
    image: mysql:8.0
    container_name: timerbook_db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: Users
      MYSQL_USER: timerbook_user
      MYSQL_PASSWORD: 1234
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./mysql-init:/docker-entrypoint-initdb.d

volumes:
  db_data:
