body {
    font-family: sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.navbar {
    width: 90%;
    max-width: 1000px;
    padding: 20px 0;
    display: flex;
    justify-content: flex-start;
}

.nav-buttons {
    display: flex;
    gap: 15px;
}

.nav-button {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.books-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 1000px;
}


.title {
    margin-bottom: 40px;
    text-align: center;
}

.placeholder-box {
    width: 100%;
    height: 300px;
    border: 2px dashed #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-style: italic;
    font-size: 1.2em;
}

.book-item {
    border: 1px solid black;
    padding: 10px;
    width: 200px;
    text-align: center;
}

.add-button {
    margin-top: 40px;
    padding: 15px 30px;
    border: 1px solid black;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}






/* Estilos livro */


#book-list {
    display: flex;
    flex-wrap: wrap; /* quebra linha quando não cabe */
    gap: 30px;       /* espaçamento entre livros */
    padding: 10px;
}

.livro-card {
    display: flex;
    flex-direction: column; /* título/autor em cima, imagem embaixo */
    align-items: center;
    width: 180px;            /* largura fixa igual à imagem */
}

.livro-card .titulo {
    color: blue;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    text-align: center;
}

.livro-card .autor {
    font-size: 15px;
    color: green;
    margin: 2px 0 5px 0;
    text-align: center;
}

.livro-card img {
    width: 180px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    transition: transform 0.2s;
}

.livro-card img:hover {
    transform: scale(1.05); /* leve zoom ao passar o mouse */
}

#teste{
    text-align: center;
    color: rebeccapurple;
}
