<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Login de Usuário</title>
  <link rel="stylesheet" href="../../public/style/style.css">
</head>
<body>
  <div class="login-container">
    <img src="../../public/uploads/logo.png" alt="Logo" class="logo">
    <form id="loginForm">
      <input type="email" id="email" name="email" required placeholder="E-mail">
      <input type="password" id="password" name="password" required placeholder="Senha">
      <a href="#" class="forgot-password">Esqueci minha senha</a>
      <button type="button" class="social-login-button">
        Logar com: <img src="../../public/uploads/app1_logo.png" alt="Google Logo" class="google-icon">
      </button>
      <div class="register-link">
        <span>Ainda não tem uma conta?</span>
        <a href="#" class="register-now">Cadastre-se</a>
      </div>
      <button type="submit" class="login-button">Entrar</button>
    </form>
  </div>

  <script>
    const form = document.getElementById("loginForm");
    const msg = document.getElementById("msg");

    form.addEventListener("submit", async (e) => {
      e.preventDefault();

      const formData = new FormData(form); // Pega todos os dados do formulário

      try {
        const res = await fetch("http://localhost/PHP/TimerBook/public/login", {
          method: "POST",
          body: formData
        });

        const result = await res.json();
        msg.innerText = result.message || result.error;
        msg.style.color = result.message ? "green" : "red";

        if (result.message) {
          // Ação após o login bem-sucedido (ex: redirecionar)
          // window.location.href = '/dashboard'; // Exemplo de redirecionamento
           form.reset();
        }
      } catch (err) {
        msg.innerText = "Erro ao conectar com a API.";
        msg.style.color = "red";
      }
    });
  </script>

</body>
</html>
