<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style/redefinir.css">
    <title>Redefinir senha</title>
</head>
<body>

    <img class="logo" src="/public/uploads/Design sem nome (1) (1).png" alt="logo">


    <form action="salvar_nova_senha.php" method="post">
    <h1>Redefinir Senha</h1>
    <label for="nova_senha">Nova Senha:</label>
    <input type="password" id="nova_senha" name="nova_senha" required>
    

    <label for="confirma_senha">Confirmar Nova Senha:</label>
    <input type="password" id="confirma_senha" name="confirma_senha" required>
    

    <button type="submit">Redefinir Senha</button>
  </form>
</body>
</html>